img {
  max-width: 175px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
